@font-face {
    font-family: 'blood';
    src: url('../assets/BloodyTerror-GOW9Z.ttf');
}

@font-face {
    font-family: 'Horror';
    src: url('../assets/AnotherDangerSlanted-Demo.ttf');
}

h1:hover{
    cursor: pointer;
    font-family: 'blood';
}

.head:hover{
    font-size: 23px;
    font-family: 'blood';
    cursor: pointer;
}

.content:hover{
    font-family: 'Horror';
}